In [1]:
pip install finance-datareader

Collecting finance-datareader
  Downloading finance_datareader-0.9.96-py3-none-any.whl.metadata (12 kB)
Requirement already satisfied: beautifulsoup4 in c:\users\bigcomlab\anaconda3\lib\site-packages (from finance-datareader) (4.13.4)
Requirement already satisfied: lxml in c:\users\bigcomlab\anaconda3\lib\site-packages (from finance-datareader) (5.2.1)
Requirement already satisfied: pandas>=1.1.0 in c:\users\bigcomlab\anaconda3\lib\site-packages (from finance-datareader) (2.2.2)
Requirement already satisfied: plotly in c:\users\bigcomlab\anaconda3\lib\site-packages (from finance-datareader) (5.24.1)
Requirement already satisfied: requests-file in c:\users\bigcomlab\anaconda3\lib\site-packages (from finance-datareader) (1.5.1)
Requirement already satisfied: requests>=2.3.0 in c:\users\bigcomlab\anaconda3\lib\site-packages (from finance-datareader) (2.32.3)
Requirement already satisfied: tqdm in c:\users\bigcomlab\anaconda3\lib\site-packages (from finance-datareader) (4.66.5)
Requirement already satisfied: numpy>=1.26.0 in c:\users\bigcomlab\anaconda3\lib\site-packages (from pandas>=1.1.0->finance-datareader) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\bigcomlab\anaconda3\lib\site-packages (from pandas>=1.1.0->finance-datareader) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\bigcomlab\anaconda3\lib\site-packages (from pandas>=1.1.0->finance-datareader) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\bigcomlab\anaconda3\lib\site-packages (from pandas>=1.1.0->finance-datareader) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\bigcomlab\anaconda3\lib\site-packages (from requests>=2.3.0->finance-datareader) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\bigcomlab\anaconda3\lib\site-packages (from requests>=2.3.0->finance-datareader) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\bigcomlab\anaconda3\lib\site-packages (from requests>=2.3.0->finance-datareader) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\bigcomlab\anaconda3\lib\site-packages (from requests>=2.3.0->finance-datareader) (2025.4.26)
Requirement already satisfied: soupsieve>1.2 in c:\users\bigcomlab\anaconda3\lib\site-packages (from beautifulsoup4->finance-datareader) (2.5)
Requirement already satisfied: typing-extensions>=4.0.0 in c:\users\bigcomlab\anaconda3\lib\site-packages (from beautifulsoup4->finance-datareader) (4.11.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\bigcomlab\anaconda3\lib\site-packages (from plotly->finance-datareader) (8.2.3)
Requirement already satisfied: packaging in c:\users\bigcomlab\anaconda3\lib\site-packages (from plotly->finance-datareader) (24.1)
Requirement already satisfied: six in c:\users\bigcomlab\anaconda3\lib\site-packages (from requests-file->finance-datareader) (1.16.0)
Requirement already satisfied: colorama in c:\users\bigcomlab\anaconda3\lib\site-packages (from tqdm->finance-datareader) (0.4.6)
Downloading finance_datareader-0.9.96-py3-none-any.whl (48 kB)
Installing collected packages: finance-datareader
Successfully installed finance-datareader-0.9.96
Note: you may need to restart the kernel to use updated packages.

In [2]:
import FinanceDataReader as fdr
import numpy as np
import matplotlib.pyplot as plt

In [3]:
#목표 10일 동안의 OHLV 데이터를 이용하여 다음 날의 종가를 예측
df = fdr.DataReader('005930', '2018-05-04', '2020-01-22')
df.head()

             Open   High    Low  Close    Volume    Change
Date
2018-05-04  53000  53900  51800  51900  39565391 -0.020755
2018-05-08  52600  53200  51900  52600  23104720  0.013487
2018-05-09  52600  52800  50900  50900  16128305 -0.032319
2018-05-10  51700  51700  50600  51600  13905263  0.013752
2018-05-11  52000  52200  51200  51300  10314997 -0.005814

In [4]:
def MinMaxScaler(data):
    """최솟값과 최댓값을 이용하여 0 ~ 1 값으로 변환"""
    numerator = data - np.min(data, 0)
    denominator = np.max(data, 0) - np.min(data, 0)
    # 0으로 나누기 에러가 발생하지 않도록 매우 작은 값(1e-7)을 더해서 나눔
    return numerator / (denominator + 1e-7)

In [5]:
dfx = df[['Open','High','Low','Volume', 'Close']]
dfx = MinMaxScaler(dfx)
dfy = dfx[['Close']]
dfx = dfx[['Open','High','Low','Volume']]
dfx

                Open      High       Low    Volume
Date
2018-05-04  0.633401  0.646825  0.601610  0.595060
2018-05-08  0.617108  0.619048  0.605634  0.316465
2018-05-09  0.617108  0.603175  0.565392  0.198390
2018-05-10  0.580448  0.559524  0.553320  0.160765
2018-05-11  0.592668  0.579365  0.577465  0.100000
...              ...       ...       ...       ...
2020-01-16  0.881874  0.916667  0.891348  0.168830
2020-01-17  0.995927  0.968254  0.971831  0.196653
2020-01-20  1.000000  1.000000  1.000000  0.137469
2020-01-21  1.000000  0.984127  0.979879  0.114009
2020-01-22  0.938900  0.992063  0.947686  0.185040

[421 rows x 4 columns]

In [6]:
dfy.head()

               Close
Date
2018-05-04  0.579158
2018-05-08  0.607214
2018-05-09  0.539078
2018-05-10  0.567134
2018-05-11  0.555110

In [7]:
# 두 데이터를 리스트 형태로 저장
# 다른 라이브러리나 알고리즘에서 리스트 입력을 원하기 때문
X = dfx.values.tolist()
y = dfy.values.tolist()

In [8]:
# 모델이 한 번의 입력으로 고려하는 과거 시점(time steps)의 데이터 길이를 의미합니다. 
# 이는 시계열 데이터나 순차 데이터를 처리할 때 현재의 예측을 위해 얼마나 많은 이전 정보를 참고할지를 결정하는 중요한 하이퍼파라미터
window_size = 10

data_X = []
data_y = []
for i in range(len(y) - window_size):
    _X = X[i : i + window_size] # 다음 날 종가(i+windows_size)는 포함되지 않음
    _y = y[i + window_size]     # 다음 날 종가
    data_X.append(_X)
    data_y.append(_y)
print(_X, "->", _y)

[[0.7637474541720417, 0.7857142857111677, 0.7665995975824281, 0.323174686971615], [0.8533604887948947, 0.8333333333300265, 0.8269617706204146, 0.33335345138624783], [0.8696537678172315, 0.8769841269806469, 0.8631790744432065, 0.19622106804249292], [0.9022403258619053, 0.8888888888853615, 0.8953722333967993, 0.117672127572782], [0.9348268839065791, 0.9285714285677438, 0.927565392350392, 0.21155713424914332], [0.898167006106321, 0.8730158730124087, 0.8873239436584011, 0.1674615836301646], [0.8818737270839841, 0.9166666666630291, 0.8913480885276002, 0.16882989330989187], [0.9959266802403425, 0.968253968250126, 0.9718309859115821, 0.19665250042066781], [0.9999999999959267, 0.9999999999960317, 0.9999999999959758, 0.13746944253371812], [0.9999999999959267, 0.9841269841230789, 0.9798792756499803, 0.11400880277083453]] -> [0.9959919839639438]

In [9]:
# 10일간의 OHLVC 데이터
data_X[0]

[[0.6334012219933466,
  0.64682539682283,
  0.6016096579452651,
  0.5950598479352758],
 [0.6171079429710097,
  0.6190476190451625,
  0.6056338028144642,
  0.3164647972944813],
 [0.6171079429710097,
  0.6031746031722096,
  0.5653923541224732,
  0.19838973885875907],
 [0.5804480651707518,
  0.5595238095215892,
  0.5533199195148759,
  0.16076499691679247],
 [0.5926680244375044,
  0.5793650793627803,
  0.5774647887300706,
  0.10000013878410015],
 [0.5519348268816622,
  0.5357142857121598,
  0.5251509054304823,
  0.17775773908379244],
 [0.5193482688369884,
  0.5079365079344923,
  0.4929577464768895,
  0.24207018961868487],
 [0.47861507128114616,
  0.49999999999801586,
  0.49496981891148906,
  0.19484190950809502],
 [0.5234215885925726,
  0.5119047619027305,
  0.5050301810844868,
  0.100853881024588],
 [0.5071283095702357,
  0.4880952380933012,
  0.5030181086498873,
  0.03892790771899896]]

In [10]:
# data_X[0]을 넣었을 때의 정답인 data_y[0]
data_y[0]

[0.503006012022032]